<h1>
  <i class="utensils icon"></i>
  Pickup Counter
</h1>
<div class="ui grid">
    <div class="one column row">
      <div class="column"></div>
        <div class="ui red segment" style="width: 100%; height: 1000px">
          <div class="ui grid">
            <div class="four wide column">
              <div style="font-size: 40vh; position: relative; padding-top: 200px; color: green">
                        {{totalPickedUpCount | async}}
              </div>
              <div style="font-size: 5vh; position: relative; padding-top: 200px; padding-left: 60px; color: green">
                  Plates Picked Up
              </div>
            </div>
            <div class="four wide column">
            </div>
            <div class="four wide column">
                <div style="font-size: 40vh; position: relative; padding-top: 200px">
                    {{ (totalSalesCount | async) - (totalPickedUpCount | async) }}
                </div>
          <div style="font-size: 4vh; position: relative; padding-top: 200px; padding-left: 60px">
              Plates To Be Picked Up
          </div>
            </div>
          </div>
        </div>
    </div>
  </div>
