<div class="ui grid">
    <div class="four wide column">
        <div class="ui red segment">
            <h2 class="ui header">
                <img src="..\assets\images\badge1_t2.png">
                <div class="content">
                  Bronze
                  <div class="sub header">{{bronzeAward}}</div>
                </div>
              </h2>
              <hr>
              <table *ngFor="let b of bronzeSales; let i = index">
                  <tr>
                      <td>
                        <h4 class="ui image header">
                            <i class="us flag"></i>
                          <div class="content">
                            {{(i + 1) + '. ' + b.Name}} | {{b.count}}
                            <div class="sub header">{{b.Company}}
                          </div>
                        </div>
                      </h4></td>
                    </tr>
                    <hr>
              </table>
          </div>
    </div>
    <div class="four wide column">
        <div class="ui red segment">
            <h2 class="ui header">
                <img src="..\assets\images\badge2.png">
                <div class="content">
                  Silver
                  <div class="sub header">{{silverAward}}</div>
                </div>
              </h2>
              <hr>
              <table *ngFor="let s of silverSales; let i = index">
                  <tr>
                      <td>
                        <h4 class="ui image header">
                            <i class="us flag"></i>
                          <div class="content">
                            {{(i + 1) + '. ' + s.Name}} | {{s.count}}
                            <div class="sub header">{{s.Company}}
                          </div>
                        </div>
                      </h4></td>
                    </tr>
                    <hr>
              </table>
          </div>
    </div>
    <div class="four wide column">
        <div class="ui red segment">
            <h2 class="ui header">
                <img src="..\assets\images\gold_trophy1.png">
                <div class="content">
                  Gold
                  <div class="sub header">{{goldAward}}</div>
                </div>
              </h2>
              <hr>
              <table *ngFor="let g of goldSales; let i=index">
                  <tr>
                      <td>
                        <h4 class="ui image header">
                            <i class="us flag"></i>
                          <div class="content">
                            {{(i + 1) + '. ' + g.Name}} | {{g.count}}
                            <div class="sub header">{{g.Company}}
                          </div>
                        </div>
                      </h4></td>
                    </tr>
                    <hr>
              </table>
          </div>
    </div>
    <div class="four wide column">
        <div class="ui red segment">
            <h2 class="ui header">
                <img src="..\assets\images\icons8-medal-48.png">
                <div class="content">
                  Platinum
                  <div class="sub header">{{platinumAward}}</div>
                </div>
              </h2>
              <hr>
              <table *ngFor="let p of platinumSales; let i = index">
                  <tr>
                      <td>
                        <h4 class="ui image header">
                            <i class="us flag"></i>
                          <div class="content">
                            {{(i + 1) + '. ' + p.Name}} | {{p.count}}
                            <div class="sub header">{{p.Company}}
                                <div class="ui circular labels">
                                    <a class="ui red label" *ngIf="p.count >= 500">
                                      500 Club
                                    </a>
                                    <a class="ui blue label" *ngIf="p.count >= 125">
                                      125 Club
                                    </a>
                                    <a class="ui yellow label" *ngIf="p.count >= 100">
                                      100 Club
                                    </a>
                                  </div>
                          </div>
                        </div>
                      </h4></td>
                    </tr>
                    <hr>
              </table>
          </div>
    </div>
  </div>
