<br><br>
<div class="conatiner">
<div class="ui grid">
  <div class="one wide column"></div>
  <div class="six wide column">
      <h2>Ticket Assignment</h2>
      <div class="ui red raised segment">
          <div class="image content">
            <div class="description">
                <form class="ui form" (keyup.enter)="assignTickets()">
                    <div class="ui grid">
                        <div class="ten wide aligned column">
                            <div class="ui floating dropdown labeled icon button" id="dp" tabindex="1" (keydown.enter)="setCadet()">
                                <i class="us flag"></i>
                                <span class="text">Select a Cadet</span>
                                <div class="menu">
                                  <div class="ui icon search input">
                                    <i class="search icon"></i>
                                    <input type="text" placeholder="Search Cadets...">
                                  </div>
                                  <div class="divider"></div>
                                  <div class="header">
                                    <i class="us flag"></i>
                                    Cadets
                                  </div>
                                  <div class="scrolling menu">
                                    <div class="item" *ngFor="let cadet of (cadets | async); let i = index" attr.data-value="{{cadet.CadetId +'|'+ cadet.Cadet +'|'+ cadet.Company}}" (click)="setCadetClick(cadet.Cadet, cadet.CadetId, cadet.Company)">
                                      <div class="ui red empty circular label"></div>
                                      {{cadet.Cadet}}
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                      </div>
                      <br><hr> <br>
                      <div class="ui stackable two column grid">
                          <div class="column">
                            <div class="field">
                                <label>Starting Ticket Number</label>
                                <div class="ui labeled input">
                                    <div class="ui label">
                                      <i class="ticket alternate icon"></i>
                                    </div>
                                    <input type="number" placeholder="Ticket Assigned" tabindex="2" id="ticketNumberStart" name="ticket-start" [(ngModel)]="ticketStart">
                                  </div>
                            </div>
                          </div>
                          <div class="column">
                              <div class="field">
                                  <label>Ending Ticket Number</label>
                                  <div class="ui labeled input">
                                      <div class="ui label">
                                        <i class="sort numeric down icon"></i>
                                      </div>
                                      <input type="number" placeholder="Ticket Assigned" tabindex="3" name="ticket-end" [(ngModel)]="ticketEnd">
                                    </div>
                              </div>
                          </div>
                        </div>
                        <br/>
                  </form>
            </div>
          </div>
          <br>
          <hr>
          <br>
          <div class="ui grid">
          <div class="eight wide left aligned column">
            <a class="ui red image label">
                <i class="user outline icon"></i>
                {{selectedCadet}}
                <div class="detail">Seller</div>
              </a>
          </div>
          <div class="eight wide right aligned column">
            <div class="ui positive right labeled icon button" (click)="assignTickets()">
                Assign Ticket(s)
                <i class="checkmark icon"></i>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>



<!-- Assigning Tickets Progress Display -->
    <div class="ui basic modal" id="progressModal">
        <div class="ui icon header">
          <div class="loader"></div>
          Assigning tickets for {{selectedCadet}}
        </div>
    </div>

