<div class="container">
    <div class="container">
      <br><br>
      <div class="ui grid">
        <div class="twelve wide center aligned column">
            <h1 class="ui header">
                <i class="money bill alternate outline ui green circular icon"></i>
                Sales for {{currentCadet}}
              </h1>
        </div>
      </div>
        <br>
        <br>
        <div class="ui grid">
          <div class="six wide center aligned column">
              <div class="ui right aligned statistics">
                  <div class="statistic">
                    <div class="value">
                      {{ticketsAssigned}}
                    </div>
                    <div class="label">
                      Tickets Assigned
                    </div>
                  </div>
                  <div class="statistic">
                    <div class="value">
                      {{ticketsSold}}
                    </div>
                    <div class="label">
                      Tickets Sold
                    </div>
                  </div>
                  <div class="statistic">
                    <div class="value">
                      {{ticketsAssigned - ticketsSold | number}}
                    </div>
                    <div class="label">
                      Tickets Remaining
                    </div>
                  </div>
                </div>
          </div>
          <div class="four wide column"></div>
            <div class="four wide column">
                <div class="ui segment">
                    <h4>Awards Earned</h4>
                    <div class="ui statistics">
                        <div class="statistic" *ngIf="ticketsSold >= 5">
                          <div class="value"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            <img src="..\assets\images\badge1_t2.png">
                          </font></font></div>
                          <div class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            Bronze Level (5 +)
                          </font></font></div>
                        </div>
                        <div class="statistic" *ngIf="ticketsSold >= 15">
                          <div class="value"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                              <img src="..\assets\images\badge2.png">
                          </font></font></div>
                          <div class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            Silver Level ( 15 +)
                          </font></font></div>
                        </div>
                        <div class="statistic" *ngIf="ticketsSold >= 25">
                          <div class="value"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                              <img src="..\assets\images\gold_trophy1.png">
                          </font></font></div>
                          <div class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            Gold Level (25 +)
                          </font></font></div>
                        </div>
                        <div class="statistic" *ngIf="ticketsSold >= 50">
                          <div class="value"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                              <img src="..\assets\images\icons8-medal-48.png">
                          </font></font></div>
                          <div class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            Platinum Level (50 +)
                          </font></font></div>
                        </div>
                        <div class="statistic" *ngIf="ticketsSold >= 100">
                          <div class="value"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            <img src="..\assets\images\star_trophy.png">
                          </font></font></div>
                          <div class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            100th Club
                          </font></font></div>
                        </div>
                        <div class="statistic" *ngIf="ticketsSold >= 125">
                          <div class="value"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            <img src="..\assets\images\badge3.png">
                          </font></font></div>
                          <div class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            125th Club
                          </font></font></div>
                        </div>
                        <div class="statistic" *ngIf="ticketsSold >= 150">
                          <div class="value"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                              <img src="..\assets\images\icons8-medal-48_red.png">
                          </font></font></div>
                          <div class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            150th Club
                          </font></font></div>
                        </div>
                      </div>
                  </div>
            </div>
          </div>
      </div>
  <br>
    <br/>
    <br/>
    <div class="ui icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search Sales..." [(ngModel)]="query" id="ticketQuery" style="width: 500px;">
      </div>
      <div class="ui labeled button" tabindex="0" style="margin-left: 2%">
          <div class="ui blue button" (click)="showOnlySoldTickets()">
            Show Sold Tickets
          </div>
          <a class="ui basic left pointing blue label" (click)="showOnlyOpenTickets()">
            Show Open Tickets
          </a>
          <a class="ui left pointing blue label" (click)="showAllTickets()">
              Show All
            </a>
        </div>
    <table class="ui center aligned striped tablet stackable table">
        <thead>
          <tr>
            <th>TicketNumber</th>
            <th>Buyer</th>
            <th>BuyerPhone</th>
            <th>Ticket Status</th>
            <th>SaleCompletedDate</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of sales | async | search:'TicketNumber,BuyerFirstName,BuyerLastName,SaleComplete':query">
            <td>{{sale.TicketNumber}}</td>
            <td>{{sale.BuyerFirstName + ' ' + sale.BuyerLastName}}</td>
            <td>{{sale.BuyerPhone}}</td>
            <td>{{sale.SaleComplete ? 'Sold' : 'Open'}}</td>
            <td>{{sale.SaleCompletedDate | date:'yyyy-MM-dd HH:mm a'}}</td>
            <td>
            <button class="ui basic button" (click)="editSale(sale)" *ngIf="userLoggedIn">
              <i class="pencil alternate icon"></i>
                Edit
              </button>
              <button class="ui basic button" (click)="removeSale($event, sale)" *ngIf="userLoggedIn">
                <i class="trash alternate outline icon"></i>
                  Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <br/>
      <br/>
      <br/>
      <div class="ui modal" id="editModal">
          <i class="close icon"></i>
          <div class="header">
            Edit Sale
          </div>
          <div class="image content">
            <div class="description">
                <form class="ui form">
                    <div class="field">
                        <label>TicketNumber</label>
                        <input type="text" name="edit-ticket-number" placeholder="TicketNumber" [(ngModel)]="edit_TicketNumber" disabled>
                      </div>
                    <div class="field">
                      <label>Buyer Last Name</label>
                      <input type="text" name="edit-purchaser-last" placeholder="Buyer Last Name" [(ngModel)]="edit_BuyerFirst">
                    </div>
                    <div class="field">
                        <label>Buyer First Name</label>
                        <input type="text" name="edit-purchaser-first" placeholder="Buyer First Name" [(ngModel)]="edit_BuyerLast">
                      </div>
                    <div class="field">
                        <label>Buyer Phone Number</label>
                        <input type="text" maxlength="14" placeholder="(XXX) XXX-XXXX" class="myPhone" name="buyer-phone" placeholder="Buyer Phone" [(ngModel)]=edit_BuyerPhone>
                      </div>
                      <div class="field">
                          <label>Seller</label>
                          <input type="text" name="edit-seller" placeholder="Seller" [(ngModel)]="edit_Seller" disabled>
                        </div>
                  </form>
            </div>
          </div>
          <div class="actions">
            <div class="ui black deny button">
              Cancel
            </div>
            <div class="ui ok right labeled positive icon button" (click)="updateSale(edit_TicketNumber, edit_BuyerFirst, edit_BuyerLast, edit_BuyerPhone)">
              Update Sale
              <i class="checkmark icon"></i>
            </div>
          </div>
        </div>
