<div class="ui message">
    <i class="close icon"></i>
    <div class="header"><i class="utensils icon"></i>
      Plate Pickup
    </div>
    <br>
    <div class="ui four column grid">
      <div class="row">
        <div class="eight wide column">
            <h3>Search Ticket Barcode:</h3>
          <div class="ui icon input">
            <i class="barcode icon"></i>
            <input type="number" placeholder="Scan..." [(ngModel)]="scanCode" style="width: 500px;" (keyup.enter)="scanTicket(scanCode)" id="scanner">
          </div>
        </div>
        <div class="row">
          <div class="eight wide column">
            <form class="ui form">
              <h4 class="ui dividing header">Bulk Order Pickup</h4>
              <br>
              <div class="field">
                <div class="three fields">
                  <div class="field">
                    <input type="number" name="starting-ticket" [(ngModel)]="startingTicket" placeholder="Starting Ticket">
                  </div>
                  <div class="field">
                      <input type="number" name="ending-ticket" [(ngModel)]="endingTicket" placeholder="Ending Ticket">
                  </div>
                  <div class="field">
                      <button class="ui primary basic button" (click)="markBulkOrderReceived()">
                          <i class="handshake outline icon"></i>
                          Bulk Order Received
                        </button>
                  </div>
                </div>
              </div>
          </form>
          </div>
      </div>
      <div class="eight wide column">
        <h3>Search by Name or Number:</h3>
        <div class="ui icon input">
          <i class="search icon"></i>
          <input type="text" placeholder="Search Names or Number..." [(ngModel)]="queryString" style="width: 500px;"  id="queryTextBox">
        </div>
      </div>
    </div>
    <br><br>
    <div class="container" *ngIf="showTable" style="width: 100%">
        <table class="ui center aligned striped tablet stackable table">
            <thead>
              <tr>
                <th>Ticket Number</th>
                <th>Buyer</th>
                <th>Buyer Phone</th>
                <th>Seller</th>
                <th>Company</th>
                <th>Sale Completed Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sale of allCadetSales | async | search:'Seller,BuyerLastName,BuyerFirstName,BuyerPhone,SellerCompany,TicketNumber':queryString | slice:0:10">
                <td>{{sale.TicketNumber}}</td>
                <td>{{sale.BuyerLastName + ', ' + sale.BuyerFirstName}}</td>
                <td>{{sale.BuyerPhone}}</td>
                <td>{{sale.Seller}}</td>
                <td>{{sale.SellerCompany}}</td>
                <td>{{sale.SaleCompletedDate | date:'yyyy-MM-dd HH:mm a'}}</td>
                <td>
                <button class="ui basic button" (click)="markOrderReceived(sale)">
                    <i class="handshake outline icon"></i>
                    Order Received
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>


  <!-- Modals -->
  <div class="ui message modal" id="successModal">
    <div class="ui green icon message">
      <i class="check circle outline icon"></i>
      <div class="content">
        <h1>
          Success
        </h1>
        <h3>{{successNotificationMsg}}</h3>
      </div>
    </div>
  </div>


