<!-- <div class="four wide right aligned column" style=color:blue> -->
  <!-- <h2>Total Sales: </h2> -->
  <!-- <div class="container" style="padding-left: 300px"> -->
      <div class="ui grid">
          <div class="two wide column">
              <div class="ui statistic float left">
                  <div class="value">
                      <img src="../assets/images/if_Money-Increase_379342.png" class="ui circular inline image">
                    {{totalSales}}
                  </div>
                  <div class="label">
                    Tickets Sold
                  </div>
                </div>
          </div>
          <div class="four wide column">

          </div>
          <div class="two wide column">
              <div class="ui statistic float right">
                  <div class="value">
                    <img src="../assets/images/if_39_Trophy_2064514 (1).png" class="ui circular inline image">
                    {{4000 - totalSales}}
                  </div>
                  <div class="label">
                    Till Goal
                  </div>
                </div>
          </div>
        </div>
    <div class="ui statistics"></div>



    <!-- </div> -->

<!-- </div> -->
