<div class="ui three column relaxed grid">
    <div class="six wide column">
        <!-- <app-cadet-sales-entry></app-cadet-sales-entry> -->
    </div>
    <div class="six wide column">
        <app-sales-statistics></app-sales-statistics>
    </div>
    <div class="four wide column" style="height: 10px">
        <!-- <app-top25sellers></app-top25sellers> -->
    </div>
    <div class="two column row">
            <div class="ten wide column">
              <div class="ui red segment" style="z-index: 1000;">
                      <app-cadet-sales-list></app-cadet-sales-list>
                  </div>
            </div>
          </div>
  </div>