<div class="ui three column relaxed grid">
    <div class="three wide column">
        <!-- <div class="ui blue segment"> -->
          <!-- Leave empty for spacer -->
        <!-- </div> -->
    </div>
    <div class="twelve wide center aligned column">
      <div class="ui red segment"  routerLink="/PickupCounterDisplay">
        <div class="ui huge statistic">
          <div class="value"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            {{totalPickedUpCount | async}}
          </font></font></div>
          <div class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Orders Picked Up
          </font></font></div>
        </div>
      </div>
    </div>
  </div>
